@model EmployeeViewModel
<input type="hidden" id="emp_Id" value="@Model.Total"/>
<input type="hidden" id="emp_Id1" value="@Model.Salary.Total" />
<input type="button" class="button" value="Add Employee" onclick="addEmployee('');"/>
<input type="button" class="button" value="Add Salary" onclick="addSalary('')"/>
<div id="addEmployee" style="display:none;">
    <partial name="~/views/employee/partial/addemployee.cshtml" model="@Model" />
</div>
<div id="addSalary" style="display:none;">
    <partial name="~/views/employee/partial/addemployeesalary.cshtml" model="@Model" />
</div>
<div class="inner-container">
    <div class="fixdiv">
    </div>
</div>
<table id="employeeTable" class="display row-border hover dataTable resizableDataTable" style="visibility: visible;table-layout:auto !important;" role="grid" cellspacing="0" cellpadding="0" border="0">
  
    <thead>
        <tr class="rowHead">
            <th class="idCol align-left" title="UserName">
                Id
            </th>
            <th class="firstNameCol align-left" title="Type">
               FirstName
            </th>
            <th class="lastNameCol align-left" title="Email">
                LastName
            </th>
            <th class="cityCol align-left" title="PayrollItems">
                City
            </th>
            <th class="zipCol align-left" title="Source">
                Zip
            </th>
            <th class="dateCol align-left" title="Source">
                CreatedDate
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts {
    <partial name="~/views/employee/partial/datatables/functions.cshtml" model="@Model" />

<script type="text/javascript">
        $(document).ready(function () {
            dtInterval = setInterval(function () {
                clearInterval(dtInterval);
                setCreateDate('');
                $(() => {
                    var table = $("#employeeTable tbody");

                    $.ajax({
                        url: '@Url.Action("datatablesearch", "employee")',
                        dataType: "json",
                        type: 'GET',
                        cache: false,
                        success: function (data) {
                            var array = data.length;
                            for(var i=0;i<array;i++){
                                table.append("<tr><td class='blueLink' onclick='addEmployee(" + JSON.stringify(data[i].id) + ")'>" + data[i].id + "</td>" +
                                    "<td>" + data[i].firstName + "</td>" +
                                    "<td>" + data[i].lastName + "</td>" +
                                    "<td>" + data[i].city + "</td>" +
                                    "<td>" + data[i].zip + "</td>" +
                                    "<td>" + data[i].createdDate + "</td>" +
                                    "<td>" + "<input type='button' class='viewbutton' value='Show Salary' onclick='addSalary(" + JSON.stringify(data[i].id) + ")' />" + "</td></tr>")
                            }
                        }
                    });
                });

            });
        });
        
    function addEmployee(id){
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("addEmployee", "employee")?id=' + id,
            cache: false,
            success: function (jsReturnArgs) {
                $("#addEmployee").html(jsReturnArgs.View);
                    if (jsReturnArgs.view.model.id != 0){
                        $("#txtZip").val(jsReturnArgs.view.model.zip);
                        $("#txtCity").val(jsReturnArgs.view.model.city);
                        $("#txtLastName").val(jsReturnArgs.view.model.lastName);
                        $("#txtFirstName").val(jsReturnArgs.view.model.firstName);
                        setCreateDate(jsReturnArgs.view.model.createdDate);
                    }
                    else{
                        setCreateDate('');
                    }
                    $("#addEmployee").show();
            },
            error: function (err) {

            }
        });
    }
    function cancel(){
        resetEmployee();
        $("#addEmployee").hide();
    }
    function resetEmployee(){
        $("#txtZip").val('');
        $("#txtCity").val('');
        $("#txtLastName").val('');
        $("#txtFirstName").val('');
        $("#txtcreateDate").val('');
    }
        var dateFormat = 'dd/MM/yyyy';
    function saveEmployee(){
        var zipC = $("#txtZip").val();
        var cityN = $("#txtCity").val();
        var lname = $("#txtLastName").val();
        var fName = $("#txtFirstName").val();
        var date = $("#txtcreateDate").val();
            if (dateFormat.toLowerCase().indexOf('mm') == 3) {
                if (dateFormat.includes('/')) {
                    date = date.split('/')[1] + '/' + date.split('/')[0] + '/' + date.split('/')[2];
                }
            }
            var id = $("#emp_Id").val();
            var employeeListViewModel = {
                firstName : fName,
                lastName : lname,
                city: cityN,
                zip: zipC,
                createdDate: date,
                id:id
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("saveEmployee", "employee")',
                data: employeeListViewModel,
                cache: false,
                success: function (result) {
                    $("#addEmployee").hide();
                    $("#emp_Id").val(result.id);
                },
                error: function (err) {
                    
                }
            });
    }
        const getDateFromString = str => {
            const [date, time] = str.split(" ");
            str = `${date}T${time}.000Z`
            return new Date(str);
        };
        function addSalary(id) {
            var table = $("#employeeSaalryTable tbody");
            $.ajax({
                type: "GET",
                url: '@Url.Action("addSalary", "employee")?id=' + id,
                cache: false,
                success: function (jsReturnArgs) {
                    $("#addSalary").html(jsReturnArgs.View);
                    if (jsReturnArgs.view.model.records.length > 0) {
                        var count = jsReturnArgs.view.model.records.length;
                        for (var i = 0; i < count;i++){
                            table.append("<tr><td>" + jsReturnArgs.view.model.records[i].employeeId + "</td>" +
                                "<td>" + jsReturnArgs.view.model.records[i].amount + "</td>" +
                                "<td>" + jsReturnArgs.view.model.records[i].salaryDate + "</td>" +
                                "<td>" + jsReturnArgs.view.model.records[i].createdDate + "</td></tr>")
                        }
                        $("#list").hide();
                        $("#employeeSaalryTable").show();
                        $("#records").show();
                    }
                    else {
                        setCreateDate('');
                        $("#list").show();
                        $("#employeeSaalryTable").hide();
                        $("#records").hide();
                    }
                    $("#addSalary").show();                    
                },
                error: function (err) {

                }
            });
        }
        function cancelSalary() {
            resetSalary();
            $("#addSalary").hide();
        }
        function resetSalary() {
            $("#txtEmpId").val('');
            $("#txtSalaryDate").val('');
            $("#txtAmount").val('');
            $("#txtSalarycreateDate").val('');
        }
        var dateFormat = 'dd/MM/yyyy';
        function saveSalary() {
            var empId = $("#txtEmpId").val();
            var sdate = $("#txtSalaryDate").val();
            var amount = $("#txtAmount").val();
            var cDate = $("#txtSalarycreateDate").val();
            if (dateFormat.toLowerCase().indexOf('mm') == 3) {
                if (dateFormat.includes('/')) {
                    cDate = cDate.split('/')[1] + '/' + cDate.split('/')[0] + '/' + cDate.split('/')[2];
                }
            }
            var id = $("#emp_Id1").val();
            var salary = {
                Id:id,
                EmployeeId: empId,
                Amount: amount,
                SalaryDate: sdate,
                CreatedDate: cDate
            }
            var employeeListViewModel = {
                Salary: salary
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("saveSalary", "employee")',
                data: employeeListViewModel,
                cache: false,
                success: function (result) {
                    $("#addSalary").hide();
                    $("#emp_Id1").val(result.id);
                },
                error: function (err) {

                }
            });
        }
    
    function setCreateDate(val) {
        var today = (val == '') ? new Date() : new Date(val);
        var date;
        currentDay = today.getDate() < 10 ? '0' + today.getDate() : today.getDate(),
        currentMonth = today.getMonth() < 9 ? '0' + (today.getMonth() + 1) : (today.getMonth() + 1);
        currentYear = today.getFullYear();
        date = currentMonth + '/' + currentDay + '/' + currentYear;
        $('#txtcreateDate').val(date);
        $('#txtSalarycreateDate').val(date);
    }
    function setSalaryDate(val) {
        var today = (val == '') ? new Date() : new Date(val);
        var date;
        currentDay = today.getDate() < 10 ? '0' + today.getDate() : today.getDate(),
            currentMonth = today.getMonth() < 9 ? '0' + (today.getMonth() + 1) : (today.getMonth() + 1);
        currentYear = today.getFullYear();
            date = currentYear + '-' + currentMonth + '-' + currentDay;
            $('#txtSalaryDate').val(date).trigger('change');
    }
</script>
}